@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-one: #8D65EB;
    --color-two: #FF589E;
    --color-text: #1E1E1E;
    --font: "Raleway", sans-serif;
}

body{
    font-family: var(--font);
    color: #1E1E1E;
    line-height: 1.5;
}

li{
    list-style-type: none;
}
a{   
    cursor: pointer;
    color: #1E1E1E;
}
 
a:hover{
    text-decoration: none;
}

/* Button */
.button{
    background: var(--color-one);
    padding: 12px;
    border-radius: 45px;
    color: #fff;
}

.button-one:hover{
    background: #FF589E;
    color: #fff;
}

.button-two{
    background: var(--color-two);
    padding: 12px;
    border-radius: 45px;
}

.button-two:hover{
    background: #1E1E1E;
    color: #fff;
}

/* End Button */

.row{
    padding-left: 20px;
    padding-right: 20px;
}

.inner-icon{
    display: none;
}

.box-head{
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.box-head .inner-title{
    font-size: 28px;
    margin-bottom: 20px;
}

.box-head .inner-desc{
    font-size: 15px;
    color: #777;
    margin-bottom: 50px;
}